@using NorthwindMvcApp.ViewModels.Category
@using System.Security.Claims
@model IEnumerable<BlogArticleViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posted)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string shortString = item.Text.Length > 50 ? $"{item.Text.Substring(0, 50)}..." : item.Text;
            string date = item.Posted.ToShortDateString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shortString)
                </td>
                <td style="min-width: 100px">
                    @Html.DisplayFor(modelItem => date)
                </td>
                
                @if (this.User?.FindFirst(c => c.Type == ClaimTypes.Role)?.Value == "admin"
                || this.User?.FindFirst(c => c.Type == "NorthwindId")?.Value == item.AuthorId.ToString())
                {
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
