@model BlogArticleDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h3>@Model.Title</h3>
    <hr />
    <img src="data:image;base64,@Convert.ToBase64String(@Model.AuthorPhoto[78..])" width="60" height="60" />
    <h3>@Model.AuthorName, @Model.Posted.ToShortDateString()</h3>
    <p>@Model.Text</p>
    <div>
        <div>
            <h4>Leave a comment...</h4>
            @await Html.PartialAsync("~/Views/Shared/Components/CommentForm.cshtml", new @BlogCommentViewModel() { ArticleId = @Model.Id})

        </div>
    </div>

    <h4>Comments</h4>
    <hr />
    @foreach (var comment in Model?.Comments)
    {
        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                <h5 class="card-title">AuthorId: @comment.AuthorId</h5>
                <p class="card-text">@comment.Text</p>
                <p class="card-text">@comment.Posted</p>
            </div>
        </div>
    }
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
