@model BlogArticleDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@Model.Title</h3>
    <hr />
    <img src="data:image;base64,@Convert.ToBase64String(@Model.AuthorPhoto[78..])" width="60" height="60" />
    <h3>@Model.AuthorName, @Model.Posted.ToShortDateString()</h3>
    <p>@Model.Text</p>
    @if (@Model.RelatedProducts != null && @Model.RelatedProducts.Count() > 0)
    {
        <div>
            <h5>
            @foreach (var product in @Model.RelatedProducts)
            {
                <span class="badge badge-primary bg-maroon">@product.Name</span>
            }
            </h5>
        </div>
    }
    <div>
        <div>
            <h4>Leave a comment...</h4>
            @await Html.PartialAsync("~/Views/Shared/Components/CommentForm.cshtml", new @BlogCommentViewModel() { ArticleId = @Model.Id})

        </div>
    </div>

    <h4>Comments</h4>
    <hr />

    <partial name="CommentList" model="@Model.CommentList.Comments" />

    <div page-model="@Model.CommentList.PagingInfo" page-action="Details" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1">
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
